/*----- VARIABLES -----*/

$latoBold: Lato-Bold;
$heuristicaRegular: heuristica-regular;
$heuristicaItalic: heuristica-italic;
$openSansExtraBold: OpenSans-ExtraBold;
$openSansItalic: OpenSans-Italic;
$proximaNovaExtrabold: ProximaNova-Extrabld;
$latoBlack: Lato-Black;
$latoRegular: Lato-Regular;
$sourceSansProBlack: SourceSansPro-Black;
$sourceSansProLight: SourceSansPro-Light;

//$lightFont: goraLight;
//$lightHelvetica: helveticaLight;

